:host {
  display: block;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}


a:hover {
  color: #f7be01;
}

.Nav__items {
  display: none;
  font-size: .94rem;
}

.Nav__items li {
  display: flex;
  align-items: center;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

@media(min-width: 768px) {

  .row-right {
    display: flex;
    justify-self: flex-end;
  }

  .Nav__items li:not(:last-child) {
    margin-right: 10px;
  }
  .Nav__menu-btn {
    display: none;
  }

  li[appButtonHighlight] {
    padding: 4px 8px;
    border-radius: 3px;
    font-weight: bold;
  }

  li[appButtonHighlight] a:hover {
    color: #000;
  }
}