<section>
  <div class="Section--top">
    <h2>GET A FREE QUOTE</h2>
    <p>Please complete the form below</p>
  </div>
  <form>
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" class="form-control" id="firstName" aria-describedby="firstName" placeholder="First Name">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" class="form-control" id="lastName" aria-describedby="lastName" placeholder="Last Name">
    </div>
    <div class="form-group">
      <label for="userEmail">Email:</label>
      <input type="email" class="form-control" id="userEmail" aria-describedby="userEmail" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="userPhone">Phone:</label>
      <input type="text" class="form-control" id="userPhone" aria-describedby="userPhone" placeholder="Phone">
    </div>
    <button appButtonHighlight class="btn btn-primary btn-block">SUBMIT NOW</button>
  </form>
</section>